@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

/*------------------------------------------Header-------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
  background-color: #ffc758;
}

header {
  padding: 0%px 0px 10px 10px;
  background-color: rgba(38, 50, 56, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  position: relative;
  margin-left: 150px;
  width: 30%;
  border-radius: 25px;
}
/*------------------------------------------menu-------------------------------------*/
ul {
  list-style: none;
  background-color: rgba(38, 50, 56, 1);
  margin-right: 60px;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 60%;
  background: rgba(38, 50, 56, 1);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover {
  background: #ffa800;
  border: 1px solid black;
}
ul li:hover ul.dropdown {
  display: block;
}
/*------------------------------------conteudo da pagina----------------------------*/

h2 {
  text-align: center; 
color: black;
padding: 30px;
font-size: 1000;
}
div{
  text-align:flex;
  color: #fff;
 
}
/*------------------------------------------rodapé---------------------------------*/

footer {
  position: fixed; /* ou position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffa800;
  padding: 10px;
  background-color: rgba(38, 50, 56, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

  footer div a {
    text-decoration: none;
    color: #ffa800;
  }
  .github-footer {
    display: flex;
  align-items: center;
  }

  .centered-box {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 1000px; /* Define a largura da caixa */
    height: 200px; /* Define a altura da caixa */
    background-color: #263238; /* Define a cor de fundo da caixa */
    margin: 10px auto; /* Centraliza horizontalmente */
    border-radius: 10px; /* Adiciona cantos arredondados */
    padding: 20px; /* Adiciona espaço interno ao redor do conteúdo */
  }
  
 

